.place__image{
  max-width: 460px;
  max-height: 460px;
  margin: 0 40px 0 0;
  grid-column: 1;
  grid-row: 2;
  object-fit: contain;
}

@media (max-width: 890px){
  .place__image{
    max-width: 340px;
    max-height: 340px;
    margin: 0 28px 0 0;
  }
}

@media (max-width: 750px){
  .place__image{
    margin-right: 0;
    max-width: 100vw;
    max-height: 320px;
    margin-bottom: 30px;
  }
}
