.lead__image{
  max-height: 615px;
  max-width: 100%;
  object-fit: fill;
}
/* не заметил разницы между разными значениями object-fill */

@media (max-width: 1024px){
  .lead__image{
    max-height: 580px;
  }
}

