.cover__overlay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(42, 44, 47, .3);
  width: 100%;
  min-height: 740px;
  transition: ease .6s;
  text-decoration: none;
  color: #fff;
}

.cover__overlay:hover{
  background-color: rgba(42, 44, 47, .8);
}

@media (max-width: 1024px){
  .cover__overlay{
    min-height: 640px;
  }
}

@media (max-width: 768px){
  .cover__overlay{
    min-height: 480px;
  }
}

@media (max-width: 425px){
  .cover__overlay{
    min-height: 200px;
  }
}

