.place{
  display: grid;
}

@media (max-width: 1280px){
  .place{
    padding: 0 40px;
  }
}
@media (max-width: 768px){
  .place{
    padding: 0 24px;
  }
}

@media (max-width: 640px){
  .place{
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
