.place__url-heading{
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  margin: 0 0 12px 0;
  color: #AAA;
  text-transform: uppercase;
}

@media (max-width: 1024){
  .place__url-heading{
    line-height: 12px;
  }
}
